# Ignorar arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
venv_langchain/
env/
.langchain/

# Ignorar arquivos do VSCode
.vscode/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar credenciais
.env